appdirs==1.4.4
asdf==2.6.0
asgiref==3.2.10
astroplan==0.6
astropy==4.0.1.post1
astroquery==0.4.1
attrs==19.3.0
beautifulsoup4==4.9.1
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
dj-database-url==0.5.0
djangae==1.0.0
Django==3.1
django-bootstrap4==2.2.0
django-contrib-comments==1.9.2
django-crispy-forms==1.9.2
django-extensions==3.0.5
django-filter==2.3.0
django-firebase-orm==0.3
django-gravatar2==1.4.4
django-guardian==2.3.0
django-heroku==0.3.1
djangorestframework==3.11.1
factory-boy==2.12.0
Faker==0.9.1
firebase-admin==4.3.0
fits2image==0.4.3
fs==2.4.11
gae-sdk-path-fixer==0.1.2
gcloud==0.18.3
gcloud-storage-emulator==0.2.3
gcloud-tasks-emulator==0.4.0
google-api-core==1.21.0
google-api-python-client==1.10.0
google-auth==1.19.0
google-auth-httplib2==0.0.4
google-cloud-core==1.3.0
google-cloud-firestore==1.8.1
google-cloud-storage==1.29.0
google-cloud-tasks==1.5.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
grpc-google-iam-v1==0.12.3
grpcio==1.30.0
gunicorn==20.0.4
gwcs==0.13.0
html5lib==1.1
httplib2==0.18.1
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.1
jeepney==0.4.3
jsonschema==3.2.0
jws==0.1.3
keyring==21.2.1
Markdown==3.2.2
mixer==6.1.3
more-itertools==8.4.0
msgpack==1.0.0
numpy==1.19.1
oauth2client==3.0.0
packaging==20.4
Pillow==7.2.0
plotly==4.9.0
pluggy==0.13.1
protobuf==3.12.2
psycopg2==2.8.5
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.6.6
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.0.1
pytest-django==3.9.0
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==0.14.0
python-jwt==2.0.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-toolbelt==0.7.0
retrying==1.3.3
rsa==4.6
scipy==1.5.1
SecretStorage==3.1.2
semantic-version==2.8.5
six==1.15.0
soupsieve==2.0.1
specutils==1.0
sqlparse==0.3.1
text-unidecode==1.2
toml==0.10.1
tomtoolkit==1.10.0a1
uritemplate==3.0.1
urllib3==1.25.9
webencodings==0.5.1
whitenoise==5.1.0
yapf==0.30.0
zipp==3.1.0
