astroplan
astropy
astroquery
Django>=3.1
djangorestframework

fits2image
gunicorn
msgpack
numpy
oauth2client
Pillow>=7.2.0
plotly>=4.9.0
psycopg2>=2.8.5
pytest
pytest-django
python-dateutil
python-dotenv
scipy
tomtoolkit>=1.10.0a1
